*{box-sizing: border-box;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

.card{
  padding: 60px;
  width: 550px;
  height: 350px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
}

.img{
  width: 40px;
  height: 40px;
  position:absolute;
  right: 60px;
  top: 50px;
}

.container div:first-child{
  background: rgb(255,193,142);
  background: linear-gradient(90deg, rgba(255,193,142,1) 0%, rgba(255,140,167,1) 100%);
}

.container div:nth-child(2){
  background: rgb(120,219,255);
  background: linear-gradient(90deg, rgba(120,219,255,1) 0%, rgba(5,113,230,0.8113446062018558) 100%); 
}

.container div:last-child{
  background: rgb(121,224,209);
  background: linear-gradient(90deg, rgba(121,224,209,0.8729692560617998) 0%, rgba(4,196,150,0.8113446062018558) 100%);
}

.price{
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 90px;
}

.card::before, .card::after{
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(252, 246, 246, 0.158);
  position: absolute;
}

.card::before{
  right: -140px;
  top: -30px;
}

.card::after{
  right: -30px;
  bottom: -150px;
}
